
body {
  font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
  margin: 0; 
  padding: 0;
  background-color:#37474F;

}

.logo-image{
  position: absolute;
 -webkit-transform: scale(0.5);
  margin: auto;
  right: 88%;
  top: 0%;


}

.logo-image:hover{
  opacity: 0.8;  
}

.my-slider {
  position: relative;
  width: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  left: 12%;

}

.my-slider ul {
  padding: 0;
  margin: 0;

}

.my-slider li {
  padding: 0;
  margin: 0;
  list-style: none;



}

.my-slider ul li {
  float: left;
  padding: 0;
  margin: 0;
  min-height: 350px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; 
  background-position-y: -75px;
  box-shadow: inset 0 -3px 6px rgba (0,0,0,-1);
}
