body {
  font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
  margin: 0; 
  padding: 0;

}


.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}


.my-slider {
  position: relative;
  width: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;

}

.my-slider ul {
  padding: 0;
  margin: 0;

}