body {
	font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
	margin: 0; 
	padding: 0;

}


.logo-image {
margin:auto;
-webkit-transform: scale(0.5);
position: absolute;
bottom:80%;
top:3%
}

.red {
background-color: red;
}

